<table>
    <thead>
        <th> Order No.</th>
        <th> Name </th>
        <th> Order List</th>
    </thead>
    <tbody>
        <tr *ngFor="let pizza of pizzaOrders">
            <td>{{ pizza.payload.doc.data().orderNumber }}</td>
            <td>{{ pizza.payload.doc.data().customerName }}</td>
            <td><span 
                    *ngFor="let singlePizza of pizza.payload.doc.data().pizzaOrder">
                {{ singlePizza }}
                </span>
            </td>
            <td [hidden]="pizza.payload.doc.data().completed" 
                (click)="markCompleted(pizza)">
                <i class="material-icons">check</i>
            </td>
            <td [hidden]="pizza.payload.doc.data().completed" 
                (click)="deleteOrder(pizza)">
                <i class="material-icons">delete_forever</i>
            </td>
        </tr>
    </tbody>
</table>